openapi: 3.0.0
info:
  title: REST api to TON blockchain explorer Accounts ExtraCurrency API
  version: 2.0.0
  description: Provide access to indexed TON blockchain
  contact:
    name: Support
    email: support@tonkeeper.com
servers:
- url: https://tonapi.io
- url: https://testnet.tonapi.io
- url: http://localhost:8081
tags:
- name: ExtraCurrency
  externalDocs:
    description: Additional documentation
    url: https://docs.tonconsole.com/tonapi/rest-api/extra-currency
paths:
  /v2/extra-currency/{id}:
    get:
      description: Get extra currency info by id
      operationId: getExtraCurrencyInfo
      tags:
      - ExtraCurrency
      parameters:
      - $ref: '#/components/parameters/ecIDParameter'
      responses:
        '200':
          description: extra currency info
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EcPreview'
        default:
          $ref: '#/components/responses/Error'
components:
  responses:
    Error:
      description: Some error during request processing
      content:
        application/json:
          schema:
            type: object
            required:
            - error
            properties:
              error:
                type: string
              error_code:
                type: integer
                format: int64
              details:
                $ref: '#/components/schemas/InsufficientFunds'
  schemas:
    InsufficientFunds:
      type: object
      description: 'Present on an error when a request failed because the source wallet does not hold enough TON to cover the required gas (error_code 50000).

        '
      required:
      - required
      - available
      properties:
        required:
          type: integer
          format: int64
          description: TON in nanotons required to cover transfer gas
          x-js-format: bigint
        available:
          type: integer
          format: int64
          description: TON in nanotons currently available on the source wallet
          x-js-format: bigint
    EcPreview:
      type: object
      required:
      - id
      - symbol
      - decimals
      - image
      properties:
        id:
          type: integer
          example: 239
          format: int32
        symbol:
          type: string
          example: FMS
        decimals:
          type: integer
          example: 5
        image:
          type: string
          example: https://cache.tonapi.io/images/extra.jpg
  parameters:
    ecIDParameter:
      in: path
      name: id
      required: true
      description: extra currency id
      schema:
        type: integer
        example: 239
        format: int32
