openapi: 3.2.0
info:
  title: REST api to TON explorer Blockchain API
  version: 2.0.0
  description: Provide access to indexed TON blockchain
  contact:
    name: Support
    email: support@tonkeeper.com
servers:
- url: https://tonapi.io
- url: https://testnet.tonapi.io
- url: http://localhost:8081
tags:
- name: Blockchain
  externalDocs:
    description: Additional documentation
    url: https://docs.tonconsole.com/tonapi/rest-api/blockchain
paths:
  /v2/blockchain/reduced/blocks:
    get:
      description: Get reduced blockchain blocks data
      operationId: getReducedBlockchainBlocks
      tags:
      - Blockchain
      parameters:
      - $ref: '#/components/parameters/fromQuery'
      - $ref: '#/components/parameters/toQuery'
      responses:
        '200':
          description: blockchain reduced blocks
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReducedBlocks'
        default:
          $ref: '#/components/responses/Error'
  /v2/blockchain/blocks/{block_id}:
    get:
      description: Get blockchain block data
      operationId: getBlockchainBlock
      tags:
      - Blockchain
      parameters:
      - $ref: '#/components/parameters/blockchainBlockIDParameter'
      responses:
        '200':
          description: blockchain block
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockchainBlock'
        default:
          $ref: '#/components/responses/Error'
  /v2/blockchain/blocks/{block_id}/boc:
    get:
      description: Download blockchain block BOC
      operationId: downloadBlockchainBlockBoc
      tags:
      - Blockchain
      parameters:
      - $ref: '#/components/parameters/blockchainBlockIDParameter'
      responses:
        '200':
          description: Block BOC file
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
          headers:
            Content-Disposition:
              schema:
                type: string
                example: attachment; filename="block.boc"
        default:
          $ref: '#/components/responses/Error'
  /v2/blockchain/masterchain/{masterchain_seqno}/shards:
    get:
      description: Get blockchain block shards
      operationId: getBlockchainMasterchainShards
      tags:
      - Blockchain
      parameters:
      - $ref: '#/components/parameters/masterchainSeqno'
      responses:
        '200':
          description: blockchain block shards
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockchainBlockShards'
        default:
          $ref: '#/components/responses/Error'
  /v2/blockchain/masterchain/{masterchain_seqno}/blocks:
    get:
      description: Get all blocks in all shards and workchains between target and previous masterchain block according to shards last blocks snapshot in masterchain.  We don't recommend to build your app around this method because it has problem with scalability and will work very slow in the future.
      operationId: getBlockchainMasterchainBlocks
      tags:
      - Blockchain
      parameters:
      - $ref: '#/components/parameters/masterchainSeqno'
      responses:
        '200':
          description: blockchain blocks
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockchainBlocks'
        default:
          $ref: '#/components/responses/Error'
  /v2/blockchain/masterchain/{masterchain_seqno}/transactions:
    get:
      description: Get all transactions in all shards and workchains between target and previous masterchain block according to shards last blocks snapshot in masterchain. We don't recommend to build your app around this method because it has problem with scalability and will work very slow in the future.
      operationId: getBlockchainMasterchainTransactions
      tags:
      - Blockchain
      parameters:
      - $ref: '#/components/parameters/masterchainSeqno'
      - $ref: '#/components/parameters/offsetQuery'
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          example: 100
          minimum: 1
      responses:
        '200':
          description: blockchain transactions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transactions'
        default:
          $ref: '#/components/responses/Error'
  /v2/blockchain/masterchain/{masterchain_seqno}/config:
    get:
      description: Get blockchain config from a specific block, if present.
      operationId: getBlockchainConfigFromBlock
      tags:
      - Blockchain
      parameters:
      - $ref: '#/components/parameters/masterchainSeqno'
      responses:
        '200':
          description: blockchain config
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockchainConfig'
        default:
          $ref: '#/components/responses/Error'
  /v2/blockchain/masterchain/{masterchain_seqno}/config/raw:
    get:
      description: Get raw blockchain config from a specific block, if present.
      operationId: getRawBlockchainConfigFromBlock
      tags:
      - Blockchain
      parameters:
      - $ref: '#/components/parameters/masterchainSeqno'
      responses:
        '200':
          description: blockchain config
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RawBlockchainConfig'
        default:
          $ref: '#/components/responses/Error'
  /v2/blockchain/blocks/{block_id}/transactions:
    get:
      description: Get transactions from block
      operationId: getBlockchainBlockTransactions
      tags:
      - Blockchain
      parameters:
      - $ref: '#/components/parameters/blockchainBlockIDParameter'
      responses:
        '200':
          description: blockchain block transactions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transactions'
        default:
          $ref: '#/components/responses/Error'
  /v2/blockchain/transactions/{transaction_id}:
    get:
      description: Get transaction data
      operationId: getBlockchainTransaction
      tags:
      - Blockchain
      parameters:
      - $ref: '#/components/parameters/transactionIDParameter'
      responses:
        '200':
          description: blockchain transaction
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transaction'
        default:
          $ref: '#/components/responses/Error'
  /v2/blockchain/messages/{msg_id}/transaction:
    get:
      description: Get transaction data by message hash
      operationId: getBlockchainTransactionByMessageHash
      tags:
      - Blockchain
      parameters:
      - $ref: '#/components/parameters/messageIDParameter'
      responses:
        '200':
          description: transaction by message hash
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transaction'
        default:
          $ref: '#/components/responses/Error'
  /v2/blockchain/validators:
    get:
      description: Get blockchain validators
      operationId: getBlockchainValidators
      tags:
      - Blockchain
      responses:
        '200':
          description: blockchain validators
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Validators'
        default:
          $ref: '#/components/responses/Error'
  /v2/blockchain/masterchain-head:
    get:
      description: Get last known masterchain block
      operationId: getBlockchainMasterchainHead
      tags:
      - Blockchain
      responses:
        '200':
          description: blockchain masterchain head
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockchainBlock'
        default:
          $ref: '#/components/responses/Error'
  /v2/blockchain/accounts/{account_id}:
    get:
      description: Get low-level information about an account taken directly from the blockchain.
      operationId: getBlockchainRawAccount
      tags:
      - Blockchain
      parameters:
      - $ref: '#/components/parameters/accountIDParameter'
      responses:
        '200':
          description: raw account
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockchainRawAccount'
        default:
          $ref: '#/components/responses/Error'
  /v2/blockchain/accounts/_bulk:
    post:
      description: Get low-level information about several accounts taken directly from the blockchain.
      operationId: getBlockchainRawAccounts
      tags:
      - Blockchain
      requestBody:
        $ref: '#/components/requestBodies/AccountIDs'
      responses:
        '200':
          description: a list of raw accounts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockchainRawAccounts'
        default:
          $ref: '#/components/responses/Error'
  /v2/blockchain/accounts/{account_id}/transactions:
    get:
      description: Get account transactions
      operationId: getBlockchainAccountTransactions
      tags:
      - Blockchain
      parameters:
      - $ref: '#/components/parameters/accountIDParameter'
      - name: after_lt
        in: query
        description: omit this parameter to get last transactions
        schema:
          type: integer
          format: int64
          example: 39787624000003
          x-js-format: bigint
      - name: before_lt
        in: query
        description: omit this parameter to get last transactions
        schema:
          type: integer
          format: int64
          example: 39787624000003
          x-js-format: bigint
      - name: limit
        in: query
        schema:
          type: integer
          format: int32
          maximum: 1000
          default: 100
          example: 100
          minimum: 1
      - name: sort_order
        in: query
        schema:
          type: string
          description: used to sort the result-set in ascending or descending order by lt.
          default: desc
          enum:
          - desc
          - asc
      responses:
        '200':
          description: blockchain account transactions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transactions'
        default:
          $ref: '#/components/responses/Error'
  /v2/blockchain/accounts/{account_id}/methods/{method_name}:
    get:
      description: Execute get method for account
      operationId: execGetMethodForBlockchainAccount
      tags:
      - Blockchain
      parameters:
      - $ref: '#/components/parameters/accountIDParameter'
      - $ref: '#/components/parameters/methodNameParameter'
      - name: args
        in: query
        required: false
        schema:
          type: array
          description: 'Array of method arguments in string format. Supported value formats:

            - "NaN" for Not-a-Number type

            - "Null" for Null type

            - Decimal integers for tinyint type (e.g., "100500")

            - 0x-prefixed hex strings for int257 type (e.g., "0xfa01d78381ae32")

            - TON blockchain addresses for slice type (e.g., "0:6e731f2e28b73539a7f85ac47ca104d5840b229351189977bb6151d36b5e3f5e")

            - Base64-encoded BOC for cell type (e.g., "te6ccgEBAQEAAgAAAA==")

            - Hex-encoded BOC for slice type (e.g., "b5ee9c72010101010002000000")'
          items:
            type: string
          example:
          - 0:9a33970f617bcd71acf2cd28357c067aa31859c02820d8f01d74c88063a8f4d8
      responses:
        '200':
          description: method execution result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MethodExecutionResult'
        default:
          $ref: '#/components/responses/Error'
    post:
      description: Execute get method for account
      operationId: execGetMethodWithBodyForBlockchainAccount
      tags:
      - Blockchain
      parameters:
      - $ref: '#/components/parameters/accountIDParameter'
      - $ref: '#/components/parameters/methodNameParameter'
      requestBody:
        $ref: '#/components/requestBodies/ExecGetMethodArgs'
      responses:
        '200':
          description: method execution result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MethodExecutionResult'
        default:
          $ref: '#/components/responses/Error'
  /v2/blockchain/message:
    post:
      description: Send message to blockchain
      operationId: sendBlockchainMessage
      tags:
      - Blockchain
      requestBody:
        $ref: '#/components/requestBodies/BatchBoc'
      responses:
        '200':
          description: the message has been sent
        default:
          $ref: '#/components/responses/Error'
  /v2/blockchain/config:
    get:
      description: Get blockchain config
      operationId: getBlockchainConfig
      tags:
      - Blockchain
      responses:
        '200':
          description: blockchain config
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockchainConfig'
        default:
          $ref: '#/components/responses/Error'
  /v2/blockchain/config/raw:
    get:
      description: Get raw blockchain config
      operationId: getRawBlockchainConfig
      tags:
      - Blockchain
      responses:
        '200':
          description: blockchain config
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RawBlockchainConfig'
        default:
          $ref: '#/components/responses/Error'
  /v2/blockchain/accounts/{account_id}/inspect:
    get:
      description: Blockchain account inspect
      operationId: blockchainAccountInspect
      tags:
      - Blockchain
      parameters:
      - $ref: '#/components/parameters/accountIDParameter'
      responses:
        '200':
          description: blockchain account inspect
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockchainAccountInspect'
        default:
          $ref: '#/components/responses/Error'
  /v2/blockchain/libraries/{hash}:
    get:
      description: Get library cell
      operationId: getLibraryByHash
      tags:
      - Blockchain
      parameters:
      - $ref: '#/components/parameters/hashParameter'
      responses:
        '200':
          description: library cell
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockchainLibrary'
        default:
          $ref: '#/components/responses/Error'
components:
  parameters:
    methodNameParameter:
      in: path
      name: method_name
      required: true
      description: contract get method name
      schema:
        type: string
        example: get_wallet_address
    accountIDParameter:
      in: path
      name: account_id
      required: true
      description: account ID
      schema:
        type: string
        format: address
        example: 0:97264395BD65A255A429B11326C84128B7D70FFED7949ABAE3036D506BA38621
    masterchainSeqno:
      in: path
      name: masterchain_seqno
      required: true
      description: masterchain block seqno
      schema:
        type: integer
        format: int32
        example: 123456
    toQuery:
      in: query
      name: to
      required: true
      schema:
        type: integer
        format: int64
    messageIDParameter:
      in: path
      name: msg_id
      required: true
      description: message ID
      schema:
        type: string
        example: 97264395BD65A255A429B11326C84128B7D70FFED7949ABAE3036D506BA38621
    transactionIDParameter:
      in: path
      name: transaction_id
      required: true
      description: transaction ID
      schema:
        type: string
        example: 97264395BD65A255A429B11326C84128B7D70FFED7949ABAE3036D506BA38621
    hashParameter:
      in: path
      name: hash
      required: true
      description: hash in hex (without 0x) format
      schema:
        type: string
        example: 131D0C65055F04E9C19D687B51BC70F952FD9CA6F02C2801D3B89964A779DF85
    blockchainBlockIDParameter:
      in: path
      name: block_id
      required: true
      description: block ID
      schema:
        type: string
        example: (-1,8000000000000000,4234234)
    fromQuery:
      in: query
      name: from
      required: true
      schema:
        type: integer
        format: int64
    offsetQuery:
      in: query
      name: offset
      required: false
      schema:
        type: integer
        default: 0
        minimum: 0
  schemas:
    BlockLimits:
      type: object
      required:
      - bytes
      - gas
      - lt_delta
      properties:
        bytes:
          $ref: '#/components/schemas/BlockParamLimits'
        gas:
          $ref: '#/components/schemas/BlockParamLimits'
        lt_delta:
          $ref: '#/components/schemas/BlockParamLimits'
    JettonBridgePrices:
      type: object
      required:
      - bridge_burn_fee
      - bridge_mint_fee
      - wallet_min_gram_for_storage
      - wallet_gas_consumption
      - minter_min_gram_for_storage
      - discover_gas_consumption
      properties:
        bridge_burn_fee:
          type: integer
          format: int64
        bridge_mint_fee:
          type: integer
          format: int64
        wallet_min_tons_for_storage:
          type: integer
          format: int64
          deprecated: true
          description: this field will gone after Sept. 2026, use wallet_min_gram_for_storage instead
        wallet_min_gram_for_storage:
          type: integer
          format: int64
        wallet_gas_consumption:
          type: integer
          format: int64
        minter_min_tons_for_storage:
          type: integer
          format: int64
          deprecated: true
          description: this field will gone after Sept. 2026, use wallet_min_gram_for_storage instead
        minter_min_gram_for_storage:
          type: integer
          format: int64
        discover_gas_consumption:
          type: integer
          format: int64
    BlockchainBlocks:
      type: object
      required:
      - blocks
      properties:
        blocks:
          type: array
          items:
            $ref: '#/components/schemas/BlockchainBlock'
    AccStatusChange:
      type: string
      example: acst_unchanged
      enum:
      - acst_unchanged
      - acst_frozen
      - acst_deleted
    TvmStackRecord:
      type: object
      format: tuple-item
      required:
      - type
      properties:
        type:
          type: string
          example: cell
          enum:
          - cell
          - num
          - nan
          - 'null'
          - tuple
        cell:
          type: string
          format: cell
        slice:
          type: string
          format: cell
        num:
          type: string
          example: ''
        tuple:
          type: array
          example: []
          items:
            $ref: '#/components/schemas/TvmStackRecord'
    OracleBridgeParams:
      type: object
      required:
      - bridge_addr
      - oracle_multisig_address
      - external_chain_address
      - oracles
      properties:
        bridge_addr:
          type: string
          format: address
        oracle_multisig_address:
          type: string
          format: address
        external_chain_address:
          type: string
        oracles:
          type: array
          items:
            $ref: '#/components/schemas/Oracle'
    BouncePhaseType:
      type: string
      example: cskip_no_state
      enum:
      - TrPhaseBounceNegfunds
      - TrPhaseBounceNofunds
      - TrPhaseBounceOk
    AccountStorageInfo:
      type: object
      required:
      - used_cells
      - used_bits
      - used_public_cells
      - last_paid
      - due_payment
      properties:
        used_cells:
          type: integer
          format: int64
          example: 567
        used_bits:
          type: integer
          format: int64
          example: 567
        used_public_cells:
          type: integer
          format: int64
          example: 567
        last_paid:
          type: integer
          format: int64
          description: time of the last payment
          example: 1720860269
        due_payment:
          type: integer
          format: int64
          x-js-format: bigint
          example: 567
    BlockchainRawAccount:
      type: object
      required:
      - address
      - balance
      - status
      - last_transaction_lt
      - storage
      properties:
        address:
          type: string
          format: address
          example: 0:da6b1b6663a0e4d18cc8574ccd9db5296e367dd9324706f3bbd9eb1cd2caf0bf
        balance:
          type: integer
          format: int64
          x-js-format: bigint
          example: 123456789
        extra_balance:
          type: array
          items:
            $ref: '#/components/schemas/ExtraCurrency'
        code:
          type: string
          format: cell
          example: b5ee9c72410104010087000114ff00f4a413f4a0f2c80b0102012002030002d200dfa5ffff76a268698fe9ffe8e42c5267858f90e785ffe4f6aa6467c444ffb365ffc10802faf0807d014035e7a064b87d804077e7857fc10803dfd2407d014035e7a064b86467cd8903a32b9ba4410803ade68afd014035e7a045ea432b6363796103bb7b9363210c678b64b87d807d8040c249b3e4
        data:
          type: string
          format: cell
          example: b5ee9c7241010101002600004811fd096c0000000000000000000000000000000000000000000000000000000000000000cb78264d
        last_transaction_lt:
          type: integer
          format: int64
          x-js-format: bigint
          example: 123456789
        last_transaction_hash:
          type: string
          example: 088b436a846d92281734236967970612f87fbd64a2cd3573107948379e8e4161
        frozen_hash:
          type: string
          example: 088b436a846d92281734236967970612f87fbd64a2cd3573107948379e8e4161
        status:
          $ref: '#/components/schemas/AccountStatus'
        storage:
          $ref: '#/components/schemas/AccountStorageInfo'
        libraries:
          type: array
          items:
            type: object
            required:
            - public
            - root
            properties:
              public:
                type: boolean
                example: true
              root:
                type: string
                format: cell
    Method:
      type: object
      required:
      - id
      - method
      properties:
        id:
          type: integer
          format: int64
        method:
          type: string
          example: get_something
    ReducedBlock:
      type: object
      required:
      - workchain_id
      - shard
      - seqno
      - tx_quantity
      - utime
      - shards_blocks
      - parent
      properties:
        workchain_id:
          type: integer
          example: 0
          format: int32
        shard:
          type: string
          example: '8000000000000000'
        seqno:
          type: integer
          example: 21734019
          format: int32
        master_ref:
          type: string
          example: (-1,4234234,8000000000000000)
        tx_quantity:
          type: integer
          example: 130
        utime:
          type: integer
          format: int64
          example: 23814011000000
        shards_blocks:
          type: array
          items:
            type: string
            example: '[ (0,4234235,8000000000000000) ]'
        parent:
          type: array
          items:
            type: string
            example: '[ (0,21734018,8000000000000000) ]'
    Source:
      type: object
      required:
      - files
      properties:
        files:
          type: array
          items:
            $ref: '#/components/schemas/SourceFile'
    RawBlockchainConfig:
      type: object
      required:
      - config
      properties:
        config:
          type: object
          additionalProperties: true
          example: {}
    MethodExecutionResult:
      type: object
      required:
      - success
      - exit_code
      - stack
      properties:
        success:
          type: boolean
          example: true
        exit_code:
          type: integer
          example: 0
          description: tvm exit code
        stack:
          type: array
          items:
            $ref: '#/components/schemas/TvmStackRecord'
        decoded: {}
    Oracle:
      type: object
      required:
      - address
      - secp_pubkey
      properties:
        address:
          type: string
          format: address
          example: 0:55e8809519cd3c49098c9ee45afdafcea7a894a74d0f628d94a115a50e045122
        secp_pubkey:
          type: string
          example: 00000000000000000000000017dcab1b1481610f6c7a7a98cf0370dc0ec704a6
    CreditPhase:
      type: object
      required:
      - fees_collected
      - credit
      properties:
        fees_collected:
          type: integer
          format: int64
          x-js-format: bigint
          example: 100
        credit:
          type: integer
          format: int64
          x-js-format: bigint
          example: 1000
    GasLimitPrices:
      type: object
      required:
      - gas_price
      - gas_limit
      - gas_credit
      - block_gas_limit
      - freeze_due_limit
      - delete_due_limit
      properties:
        special_gas_limit:
          type: integer
          format: int64
        flat_gas_limit:
          type: integer
          format: int64
        flat_gas_price:
          type: integer
          format: int64
        gas_price:
          type: integer
          format: int64
          example: 1
        gas_limit:
          type: integer
          format: int64
          example: 1000000
        gas_credit:
          type: integer
          format: int64
          example: 1000000
        block_gas_limit:
          type: integer
          format: int64
          example: 1000000
        freeze_due_limit:
          type: integer
          format: int64
          example: 1000000
        delete_due_limit:
          type: integer
          format: int64
          example: 1000000
    ComputeSkipReason:
      type: string
      example: cskip_no_state
      enum:
      - cskip_no_state
      - cskip_bad_state
      - cskip_no_gas
      - cskip_suspended
    EcPreview:
      type: object
      required:
      - id
      - symbol
      - decimals
      - image
      properties:
        id:
          type: integer
          example: 239
          format: int32
        symbol:
          type: string
          example: FMS
        decimals:
          type: integer
          example: 5
        image:
          type: string
          example: https://cache.tonapi.io/images/extra.jpg
    SourceFile:
      type: object
      required:
      - name
      - content
      - is_entrypoint
      - is_std_lib
      - include_in_command
      properties:
        name:
          type: string
        content:
          type: string
        is_entrypoint:
          type: boolean
          example: false
        is_std_lib:
          type: boolean
          example: false
        include_in_command:
          type: boolean
          example: false
    ExecGetMethodArg:
      type: object
      required:
      - type
      - value
      properties:
        type:
          $ref: '#/components/schemas/ExecGetMethodArgType'
        value:
          type: string
          description: String representation of the value according to the specified type
          example: '0xfa01d78381ae32'
    ExecGetMethodArgType:
      type: string
      description: 'Data type of the argument value:

        - `nan`: Not-a-Number value

        - `null`: Null value

        - `tinyint`: Decimal integer (e.g., `100500`)

        - `int257`: 257-bit integer in hex format with 0x prefix (e.g., `0xfa01d78381ae32`)

        - `slice`: TON blockchain address (e.g., `0:6e731f2e...`)

        - `cell_boc_base64`: Base64-encoded cell BOC (Binary Object Code) (e.g., `te6ccgEBAQEAAgAAAA==`)

        - `slice_boc_hex`: Hex-encoded slice BOC (e.g., `b5ee9c72...`)

        '
      enum:
      - nan
      - 'null'
      - tinyint
      - int257
      - slice
      - cell_boc_base64
      - slice_boc_hex
      example: int257
    BlockchainRawAccounts:
      type: object
      required:
      - accounts
      properties:
        accounts:
          type: array
          items:
            $ref: '#/components/schemas/BlockchainRawAccount'
    NewConsensusConfig:
      type: object
      required:
      - flags
      - use_quic
      - slots_per_leader_window
      properties:
        flags:
          type: integer
          format: int
          example: 0
          x-js-format: bigint
        use_quic:
          type: boolean
          example: false
        target_rate_ms:
          type: integer
          format: int64
          example: 1000
          x-js-format: bigint
        slots_per_leader_window:
          type: integer
          format: int64
          example: 1
          x-js-format: bigint
        first_block_timeout_ms:
          type: integer
          format: int64
          example: 1000
          x-js-format: bigint
        max_leader_window_desync:
          type: integer
          format: int64
          example: 4
          x-js-format: bigint
        noncritical_params:
          type: object
          additionalProperties:
            type: integer
            format: int64
            x-js-format: bigint
    BlockchainBlockShards:
      type: object
      required:
      - shards
      properties:
        shards:
          type: array
          items:
            type: object
            required:
            - last_known_block_id
            - last_known_block
            properties:
              last_known_block_id:
                type: string
                example: (0,8000000000000000,4234234)
              last_known_block:
                $ref: '#/components/schemas/BlockchainBlock'
    Validators:
      type: object
      required:
      - validators
      - elect_at
      - elect_close
      - min_stake
      - total_stake
      properties:
        elect_at:
          type: integer
          format: int64
          example: 123456789
        elect_close:
          type: integer
          format: int64
          example: 123456789
        min_stake:
          type: integer
          format: int64
          x-js-format: bigint
          example: 123456789
        total_stake:
          type: integer
          format: int64
          x-js-format: bigint
          example: 123456789
        validators:
          type: array
          items:
            $ref: '#/components/schemas/Validator'
    Message:
      type: object
      required:
      - msg_type
      - created_lt
      - ihr_disabled
      - bounce
      - bounced
      - value
      - fwd_fee
      - ihr_fee
      - import_fee
      - created_at
      - hash
      properties:
        msg_type:
          type: string
          example: int_msg
          enum:
          - int_msg
          - ext_in_msg
          - ext_out_msg
        created_lt:
          type: integer
          format: int64
          example: 25713146000001
          x-js-format: bigint
        ihr_disabled:
          type: boolean
          example: true
        bounce:
          type: boolean
          example: true
        bounced:
          type: boolean
          example: true
        value:
          type: integer
          format: int64
          x-js-format: bigint
          example: 60000000
        value_extra:
          type: array
          items:
            $ref: '#/components/schemas/ExtraCurrency'
        fwd_fee:
          type: integer
          format: int64
          x-js-format: bigint
          example: 5681002
        ihr_fee:
          type: integer
          format: int64
          x-js-format: bigint
          example: 5681002
        destination:
          $ref: '#/components/schemas/AccountAddress'
        source:
          $ref: '#/components/schemas/AccountAddress'
        import_fee:
          type: integer
          format: int64
          x-js-format: bigint
          example: 5681002
        created_at:
          type: integer
          format: int64
          example: 5681002
        op_code:
          type: string
          x-js-format: bigint
          example: '0xdeadbeaf'
        init:
          $ref: '#/components/schemas/StateInit'
        hash:
          type: string
          example: 1219de582369ac80ee1afe12147930f458a54ff1eea612611a8bc6bd31581a6c
        raw_body:
          type: string
          format: cell
          description: hex-encoded BoC with raw message body
          example: B5EE9C7201010101001100001D00048656C6C6F2C20776F726C64218
        decoded_op_name:
          type: string
          example: nft_transfer
        decoded_body: {}
    BlockchainLibrary:
      type: object
      required:
      - boc
      properties:
        boc:
          type: string
          format: cell
          example: b5ee9c7201010101005f0000baff0020dd2082014c97ba218201339cbab19c71b0ed44d0d31fd70bffe304e0a4f260810200d71820d70b1fed44d0d31fd3ffd15112baf2a122f901541044f910f2a2f80001d31f3120d74a96d307d402fb00ded1a4c8cb1fcbffc9ed54
    Transactions:
      type: object
      required:
      - transactions
      properties:
        transactions:
          type: array
          items:
            $ref: '#/components/schemas/Transaction'
    InsufficientFunds:
      type: object
      description: 'Present on an error when a request failed because the source wallet does not hold enough TON to cover the required gas (error_code 50000).

        '
      required:
      - required
      - available
      properties:
        required:
          type: integer
          format: int64
          description: TON in nanotons required to cover transfer gas
          x-js-format: bigint
        available:
          type: integer
          format: int64
          description: TON in nanotons currently available on the source wallet
          x-js-format: bigint
    BlockchainBlock:
      type: object
      required:
      - workchain_id
      - shard
      - seqno
      - root_hash
      - file_hash
      - global_id
      - value_flow
      - version
      - after_merge
      - before_split
      - after_split
      - want_split
      - want_merge
      - key_block
      - gen_utime
      - start_lt
      - end_lt
      - vert_seqno
      - gen_catchain_seqno
      - min_ref_mc_seqno
      - prev_key_block_seqno
      - prev_refs
      - in_msg_descr_length
      - out_msg_descr_length
      - rand_seed
      - created_by
      - tx_quantity
      properties:
        tx_quantity:
          type: integer
          example: 130
        value_flow:
          $ref: '#/components/schemas/BlockValueFlow'
        workchain_id:
          type: integer
          example: 0
          format: int32
        shard:
          type: string
          example: '8000000000000000'
        seqno:
          type: integer
          example: 21734019
          format: int32
        root_hash:
          type: string
          example: 131D0C65055F04E9C19D687B51BC70F952FD9CA6F02C2801D3B89964A779DF85
        file_hash:
          type: string
          example: A6A0BD6608672B11B79538A50B2204E748305C12AA0DED9C16CF0006CE3AF8DB
        global_id:
          type: integer
          example: -239
          format: int32
        version:
          type: integer
          example: 0
          format: int32
        after_merge:
          type: boolean
          example: true
        before_split:
          type: boolean
          example: true
        after_split:
          type: boolean
          example: true
        want_split:
          type: boolean
          example: true
        want_merge:
          type: boolean
          example: true
        key_block:
          type: boolean
          example: true
        gen_utime:
          type: integer
          format: int64
          example: 1674826775
        start_lt:
          type: integer
          format: int64
          example: 23814011000000
          x-js-format: bigint
        end_lt:
          type: integer
          format: int64
          example: 23814011000001
          x-js-format: bigint
        vert_seqno:
          type: integer
          example: 0
          format: int32
        gen_catchain_seqno:
          type: integer
          example: 0
          format: int32
        min_ref_mc_seqno:
          type: integer
          example: 0
          format: int32
        prev_key_block_seqno:
          type: integer
          example: 0
          format: int32
        gen_software_version:
          type: integer
          example: 0
          format: int32
        gen_software_capabilities:
          type: integer
          format: int64
          example: 0
        master_ref:
          type: string
          example: (-1,4234234,8000000000000000)
        prev_refs:
          type: array
          items:
            type: string
            example:
            - (-1
            - 4234235
            - 8000000000000000)
        in_msg_descr_length:
          type: integer
          format: int64
          example: 0
        out_msg_descr_length:
          type: integer
          format: int64
          example: 0
        rand_seed:
          type: string
          example: 131D0C65055F04E9C19D687B51BC70F952FD9CA6F02C2801D3B89964A779DF85
        created_by:
          type: string
          example: A6A0BD6608672B11B79538A50B2204E748305C12AA0DED9C16CF0006CE3AF8DB
    ActionPhase:
      type: object
      required:
      - success
      - result_code
      - total_actions
      - skipped_actions
      - fwd_fees
      - total_fees
      properties:
        success:
          type: boolean
          example: true
        result_code:
          type: integer
          format: int32
          example: 5
        total_actions:
          type: integer
          format: int32
          example: 5
        skipped_actions:
          type: integer
          format: int32
          example: 5
        fwd_fees:
          type: integer
          format: int64
          x-js-format: bigint
          example: 1000
        total_fees:
          type: integer
          format: int64
          x-js-format: bigint
          example: 1000
        result_code_description:
          type: string
    ExtraCurrency:
      type: object
      required:
      - amount
      - preview
      properties:
        amount:
          type: string
          x-js-format: bigint
          example: '1000000000'
        preview:
          $ref: '#/components/schemas/EcPreview'
    BlockValueFlow:
      type: object
      required:
      - from_prev_blk
      - to_next_blk
      - imported
      - exported
      - fees_collected
      - fees_imported
      - recovered
      - created
      - minted
      properties:
        from_prev_blk:
          $ref: '#/components/schemas/BlockCurrencyCollection'
        to_next_blk:
          $ref: '#/components/schemas/BlockCurrencyCollection'
        imported:
          $ref: '#/components/schemas/BlockCurrencyCollection'
        exported:
          $ref: '#/components/schemas/BlockCurrencyCollection'
        fees_collected:
          $ref: '#/components/schemas/BlockCurrencyCollection'
        burned:
          $ref: '#/components/schemas/BlockCurrencyCollection'
        fees_imported:
          $ref: '#/components/schemas/BlockCurrencyCollection'
        recovered:
          $ref: '#/components/schemas/BlockCurrencyCollection'
        created:
          $ref: '#/components/schemas/BlockCurrencyCollection'
        minted:
          $ref: '#/components/schemas/BlockCurrencyCollection'
    MisbehaviourPunishmentConfig:
      type: object
      required:
      - default_flat_fine
      - default_proportional_fine
      - severity_flat_mult
      - severity_proportional_mult
      - unpunishable_interval
      - long_interval
      - long_flat_mult
      - long_proportional_mult
      - medium_interval
      - medium_flat_mult
      - medium_proportional_mult
      properties:
        default_flat_fine:
          type: integer
          format: int64
          example: 1000000
        default_proportional_fine:
          type: integer
          format: int64
          example: 1000000
        severity_flat_mult:
          type: integer
          example: 1000000
        severity_proportional_mult:
          type: integer
          example: 1000000
        unpunishable_interval:
          type: integer
          example: 1000000
        long_interval:
          type: integer
          example: 1000000
        long_flat_mult:
          type: integer
          example: 1000000
        long_proportional_mult:
          type: integer
          example: 1000000
        medium_interval:
          type: integer
          example: 1000000
        medium_flat_mult:
          type: integer
          example: 1000000
        medium_proportional_mult:
          type: integer
          example: 1000000
    BlockCurrencyCollection:
      type: object
      required:
      - grams
      - other
      properties:
        grams:
          type: integer
          format: int64
          example: 10000000000
          x-js-format: bigint
        other:
          type: array
          items:
            type: object
            required:
            - id
            - value
            properties:
              id:
                type: integer
                format: int64
                example: 13
              value:
                type: string
                x-js-format: bigint
                example: '10000000000'
    BlockParamLimits:
      type: object
      required:
      - underload
      - soft_limit
      - hard_limit
      properties:
        underload:
          type: integer
          format: int64
          example: 1000000
        soft_limit:
          type: integer
          format: int64
          example: 1000000
        hard_limit:
          type: integer
          format: int64
          example: 1000000
    Validator:
      type: object
      required:
      - address
      - adnl_address
      - stake
      - max_factor
      properties:
        address:
          type: string
          format: address
          example: 0:55e8809519cd3c49098c9ee45afdafcea7a894a74d0f628d94a115a50e045122
        adnl_address:
          type: string
          example: 10C1073837B93FDAAD594284CE8B8EFF7B9CF25427440EB2FC682762E1471365
        stake:
          type: integer
          format: int64
          example: 123456789
          x-js-format: bigint
        max_factor:
          type: integer
          format: int64
          example: 123456789
    AccountAddress:
      type: object
      required:
      - address
      - is_scam
      - is_wallet
      properties:
        address:
          type: string
          format: maybe-address
          example: 0:10C1073837B93FDAAD594284CE8B8EFF7B9CF25427440EB2FC682762E1471365
        name:
          type: string
          example: Ton foundation
          description: Display name. Data collected from different sources like moderation lists, dns, collections names and over.
        is_scam:
          type: boolean
          example: true
          description: Is this account was marked as part of scammers activity
        icon:
          type: string
          example: https://ton.org/logo.png
        is_wallet:
          type: boolean
          example: true
    MsgForwardPrices:
      type: object
      required:
      - lump_price
      - bit_price
      - cell_price
      - ihr_price_factor
      - first_frac
      - next_frac
      properties:
        lump_price:
          type: integer
          format: int64
          example: 1000000
        bit_price:
          type: integer
          format: int64
          example: 1000000
        cell_price:
          type: integer
          format: int64
          example: 1000000
        ihr_price_factor:
          type: integer
          format: int64
          example: 1000000
        first_frac:
          type: integer
          format: int64
          example: 1000000
        next_frac:
          type: integer
          format: int64
          example: 1000000
    ValidatorsSet:
      type: object
      required:
      - utime_since
      - utime_until
      - total
      - main
      - list
      properties:
        utime_since:
          type: integer
        utime_until:
          type: integer
        total:
          type: integer
        main:
          type: integer
        total_weight:
          type: string
          x-js-format: bigint
          example: '1152921504606846800'
        list:
          type: array
          items:
            type: object
            required:
            - public_key
            - weight
            properties:
              public_key:
                type: string
              weight:
                type: integer
                format: int64
                x-js-format: bigint
              adnl_addr:
                type: string
                example: 45061C1D4EC44A937D0318589E13C73D151D1CEF5D3C0E53AFBCF56A6C2FE2BD
    ComputePhase:
      type: object
      required:
      - skipped
      properties:
        skipped:
          type: boolean
          example: true
        skip_reason:
          $ref: '#/components/schemas/ComputeSkipReason'
        success:
          type: boolean
          example: true
        gas_fees:
          type: integer
          format: int64
          x-js-format: bigint
          example: 1000
        gas_used:
          type: integer
          format: int64
          x-js-format: bigint
          example: 10000
        vm_steps:
          type: integer
          format: int32
          example: 5
        exit_code:
          type: integer
          format: int32
          example: 0
        exit_code_description:
          type: string
    SizeLimitsConfig:
      type: object
      required:
      - max_msg_bits
      - max_msg_cells
      - max_library_cells
      - max_vm_data_depth
      - max_ext_msg_size
      - max_ext_msg_depth
      properties:
        max_msg_bits:
          type: integer
          format: int64
          example: 1000000
        max_msg_cells:
          type: integer
          format: int64
          example: 1000000
        max_library_cells:
          type: integer
          format: int64
          example: 1000000
        max_vm_data_depth:
          type: integer
          format: int
          example: 1000000
        max_ext_msg_size:
          type: integer
          format: int64
          example: 1000000
        max_ext_msg_depth:
          type: integer
          format: int
          example: 1000000
        max_acc_state_cells:
          type: integer
          format: int64
          example: 1000000
        max_acc_state_bits:
          type: integer
          format: int64
          example: 1000000
    JettonBridgeParams:
      type: object
      required:
      - bridge_address
      - oracles_address
      - state_flags
      - oracles
      properties:
        bridge_address:
          type: string
          format: address
        oracles_address:
          type: string
          format: address
        state_flags:
          type: integer
        burn_bridge_fee:
          type: integer
          format: int64
        oracles:
          type: array
          items:
            $ref: '#/components/schemas/Oracle'
        external_chain_address:
          type: string
        prices:
          $ref: '#/components/schemas/JettonBridgePrices'
    ConfigProposalSetup:
      type: object
      required:
      - min_tot_rounds
      - max_tot_rounds
      - min_wins
      - max_losses
      - min_store_sec
      - max_store_sec
      - bit_price
      - cell_price
      properties:
        min_tot_rounds:
          type: integer
          example: 2
        max_tot_rounds:
          type: integer
          example: 6
        min_wins:
          type: integer
          example: 2
        max_losses:
          type: integer
          example: 6
        min_store_sec:
          type: integer
          format: int64
          example: 1000000
        max_store_sec:
          type: integer
          format: int64
          example: 10000000
        bit_price:
          type: integer
          format: int64
          example: 1
        cell_price:
          type: integer
          format: int64
          example: 500
    BlockchainAccountInspect:
      type: object
      required:
      - code
      - code_hash
      - methods
      - compiler
      properties:
        code:
          type: string
          format: cell
        disassembled_code:
          type: string
        code_hash:
          type: string
        methods:
          type: array
          items:
            $ref: '#/components/schemas/Method'
        compiler:
          type: string
          enum:
          - func
          - fift
          - tact
        source:
          $ref: '#/components/schemas/Source'
    AccountStatus:
      type: string
      example: active
      enum:
      - nonexist
      - uninit
      - active
      - frozen
    TransactionType:
      type: string
      example: TransOrd
      enum:
      - TransOrd
      - TransTickTock
      - TransSplitPrepare
      - TransSplitInstall
      - TransMergePrepare
      - TransMergeInstall
      - TransStorage
    StateInit:
      type: object
      required:
      - boc
      - interfaces
      properties:
        boc:
          type: string
          format: cell
          example: b5ee9c72010106010044000114ff00f4a413f4bcf2c80b01020120020302014804050004f2300038d06c21d31f30ed44d0d33f3001c00197a4c8cb3fc9ed549330f206e20011a13431da89a1a67e61
        interfaces:
          type: array
          items:
            type: string
    Transaction:
      type: object
      required:
      - hash
      - lt
      - account
      - end_balance
      - success
      - utime
      - orig_status
      - end_status
      - total_fees
      - transaction_type
      - state_update_old
      - state_update_new
      - out_msgs
      - block
      - aborted
      - destroyed
      - raw
      properties:
        hash:
          type: string
          example: 55e8809519cd3c49098c9ee45afdafcea7a894a74d0f628d94a115a50e045122
        lt:
          type: integer
          format: int64
          example: 25713146000001
          x-js-format: bigint
        account:
          $ref: '#/components/schemas/AccountAddress'
        success:
          type: boolean
          example: true
        utime:
          type: integer
          format: int64
          example: 1645544908
        orig_status:
          $ref: '#/components/schemas/AccountStatus'
        end_status:
          $ref: '#/components/schemas/AccountStatus'
        total_fees:
          type: integer
          format: int64
          x-js-format: bigint
          example: 25713146000001
        end_balance:
          type: integer
          format: int64
          x-js-format: bigint
          example: 25713146000001
        transaction_type:
          $ref: '#/components/schemas/TransactionType'
        state_update_old:
          type: string
          example: 55e8809519cd3c49098c9ee45afdafcea7a894a74d0f628d94a115a50e045122
        state_update_new:
          type: string
          example: 55e8809519cd3c49098c9ee45afdafcea7a894a74d0f628d94a115a50e045122
        in_msg:
          $ref: '#/components/schemas/Message'
        out_msgs:
          type: array
          items:
            $ref: '#/components/schemas/Message'
        block:
          type: string
          example: (-1,4234234,8000000000000000)
        prev_trans_hash:
          type: string
          example: 55e8809519cd3c49098c9ee45afdafcea7a894a74d0f628d94a115a50e045122
        prev_trans_lt:
          type: integer
          format: int64
          x-js-format: bigint
          example: 25713146000001
        compute_phase:
          $ref: '#/components/schemas/ComputePhase'
        storage_phase:
          $ref: '#/components/schemas/StoragePhase'
        credit_phase:
          $ref: '#/components/schemas/CreditPhase'
        action_phase:
          $ref: '#/components/schemas/ActionPhase'
        bounce_phase:
          $ref: '#/components/schemas/BouncePhaseType'
        aborted:
          type: boolean
          example: true
        destroyed:
          type: boolean
          example: true
        raw:
          type: string
          format: cell
          description: hex encoded boc with raw transaction
          example: b5ee9c72410206010001380003b372cf3b5b8c891e517c9addbda1c0386a09ccacbb0e3faf630b51cfc8152325acb00002ac5795c0e41fdf79135cb7da03cc623b165d614b562a51eeccd8a5e097f405abf6b37f4e73000002ac5629732c1666887ed000144030480102030101a004008272abc8f2971aa4404ac6da1597720f348b2e1247b1ad9f55cbd3b6812f0a5f08b269bb65039fb1f6074d00f794e857f6dfd01131d299df456af10a8a4943d4d165000d0c80608840492001ab48015581f575c3b8c6ab3d6
    ReducedBlocks:
      type: object
      required:
      - blocks
      properties:
        blocks:
          type: array
          items:
            $ref: '#/components/schemas/ReducedBlock'
    StoragePhase:
      type: object
      required:
      - fees_collected
      - status_change
      properties:
        fees_collected:
          type: integer
          format: int64
          x-js-format: bigint
          example: 25713146000001
        fees_due:
          type: integer
          format: int64
          x-js-format: bigint
          example: 25713146000001
        status_change:
          $ref: '#/components/schemas/AccStatusChange'
    BlockchainConfig:
      type: object
      required:
      - raw
      - '0'
      - '1'
      - '2'
      - '4'
      - '44'
      properties:
        raw:
          type: string
          format: cell
          description: config boc in hex format
        '0':
          type: string
          format: address
          description: config address
        '1':
          type: string
          format: address
          description: elector address
        '2':
          type: string
          format: address
          description: minter address
        '3':
          type: string
          format: address
          description: The address of the transaction fee collector.
        '4':
          type: string
          format: address
          description: dns root address
        '5':
          type: object
          required:
          - fee_burn_nom
          - fee_burn_denom
          properties:
            blackhole_addr:
              type: string
              format: address
            fee_burn_nom:
              type: integer
              format: int64
            fee_burn_denom:
              type: integer
              format: int64
        '6':
          type: object
          description: Minting fees of new currencies.
          required:
          - mint_new_price
          - mint_add_price
          properties:
            mint_new_price:
              type: integer
              format: int64
            mint_add_price:
              type: integer
              format: int64
        '7':
          type: object
          description: The volume of each of the additional currencies in circulation.
          required:
          - currencies
          properties:
            currencies:
              type: array
              items:
                type: object
                required:
                - currency_id
                - amount
                properties:
                  currency_id:
                    type: integer
                    format: int64
                  amount:
                    type: string
        '8':
          type: object
          description: The network version and additional capabilities supported by the validators.
          required:
          - version
          - capabilities
          properties:
            version:
              type: integer
              format: int64
            capabilities:
              type: integer
              format: int64
        '9':
          type: object
          description: List of mandatory parameters of the blockchain config.
          required:
          - mandatory_params
          properties:
            mandatory_params:
              type: array
              items:
                type: integer
                format: int32
        '10':
          type: object
          description: List of critical TON parameters, the change of which significantly affects the network, so more voting rounds are held.
          required:
          - critical_params
          properties:
            critical_params:
              type: array
              items:
                type: integer
                format: int32
        '11':
          type: object
          description: This parameter indicates under what conditions proposals to change the TON configuration are accepted.
          required:
          - normal_params
          - critical_params
          properties:
            normal_params:
              $ref: '#/components/schemas/ConfigProposalSetup'
            critical_params:
              $ref: '#/components/schemas/ConfigProposalSetup'
        '12':
          type: object
          description: Workchains in the TON Blockchain
          required:
          - workchains
          properties:
            workchains:
              type: array
              items:
                $ref: '#/components/schemas/WorkchainDescr'
        '13':
          type: object
          description: The cost of filing complaints about incorrect operation of validators.
          required:
          - deposit
          - bit_price
          - cell_price
          properties:
            deposit:
              type: integer
              format: int64
            bit_price:
              type: integer
              format: int64
            cell_price:
              type: integer
              format: int64
        '14':
          type: object
          description: The reward in nanoGram for block creation in the TON blockchain.
          required:
          - masterchain_block_fee
          - basechain_block_fee
          properties:
            masterchain_block_fee:
              type: integer
              format: int64
            basechain_block_fee:
              type: integer
              format: int64
        '15':
          type: object
          description: The reward in nanograms for block creation in the TON blockchain.
          required:
          - validators_elected_for
          - elections_start_before
          - elections_end_before
          - stake_held_for
          properties:
            validators_elected_for:
              type: integer
              format: int64
              example: 65536
            elections_start_before:
              type: integer
              format: int64
              example: 32768
            elections_end_before:
              type: integer
              format: int64
              example: 8192
            stake_held_for:
              type: integer
              format: int64
              example: 32768
        '16':
          type: object
          description: The limits on the number of validators in the TON blockchain.
          required:
          - max_validators
          - max_main_validators
          - min_validators
          properties:
            max_validators:
              type: integer
              example: 400
            max_main_validators:
              type: integer
              example: 100
            min_validators:
              type: integer
              example: 75
        '17':
          type: object
          description: The stake parameters configuration in the TON blockchain.
          required:
          - min_stake
          - max_stake
          - min_total_stake
          - max_stake_factor
          properties:
            min_stake:
              type: string
            max_stake:
              type: string
            min_total_stake:
              type: string
            max_stake_factor:
              type: integer
              format: int64
        '18':
          type: object
          description: The prices for data storage.
          required:
          - storage_prices
          properties:
            storage_prices:
              type: array
              items:
                type: object
                required:
                - utime_since
                - bit_price_ps
                - cell_price_ps
                - mc_bit_price_ps
                - mc_cell_price_ps
                properties:
                  utime_since:
                    type: integer
                    format: int64
                    example: 0
                  bit_price_ps:
                    type: integer
                    format: int64
                    example: 1
                  cell_price_ps:
                    type: integer
                    format: int64
                    example: 500
                  mc_bit_price_ps:
                    type: integer
                    format: int64
                    example: 1000
                  mc_cell_price_ps:
                    type: integer
                    format: int64
                    example: 500000
        '20':
          type: object
          description: The cost of computations in the masterchain. The complexity of any computation is estimated in gas units.
          required:
          - gas_limits_prices
          properties:
            gas_limits_prices:
              $ref: '#/components/schemas/GasLimitPrices'
        '21':
          type: object
          description: The cost of computations in the basechains. The complexity of any computation is estimated in gas units.
          required:
          - gas_limits_prices
          properties:
            gas_limits_prices:
              $ref: '#/components/schemas/GasLimitPrices'
        '22':
          type: object
          description: The limits on the block in the masterchain, upon reaching which the block is finalized and the callback of the remaining messages (if any) is carried over to the next block.
          required:
          - block_limits
          properties:
            block_limits:
              $ref: '#/components/schemas/BlockLimits'
        '23':
          type: object
          description: The limits on the block in the basechains, upon reaching which the block is finalized and the callback of the remaining messages (if any) is carried over to the next block.
          required:
          - block_limits
          properties:
            block_limits:
              $ref: '#/components/schemas/BlockLimits'
        '24':
          type: object
          description: The cost of sending messages in the masterchain of the TON blockchain.
          required:
          - msg_forward_prices
          properties:
            msg_forward_prices:
              $ref: '#/components/schemas/MsgForwardPrices'
        '25':
          type: object
          description: The cost of sending messages in the basechains of the TON blockchain.
          required:
          - msg_forward_prices
          properties:
            msg_forward_prices:
              $ref: '#/components/schemas/MsgForwardPrices'
        '28':
          type: object
          description: The configuration for the Catchain protocol.
          required:
          - mc_catchain_lifetime
          - shard_catchain_lifetime
          - shard_validators_lifetime
          - shard_validators_num
          properties:
            mc_catchain_lifetime:
              type: integer
              format: int64
              example: 1000000
            shard_catchain_lifetime:
              type: integer
              format: int64
              example: 1000000
            shard_validators_lifetime:
              type: integer
              format: int64
              example: 1000000
            shard_validators_num:
              type: integer
              format: int64
              example: 1000000
            flags:
              type: integer
              format: int
              example: 1000000
            shuffle_mc_validators:
              type: boolean
        '29':
          type: object
          description: The configuration for the consensus protocol above catchain.
          required:
          - round_candidates
          - next_candidate_delay_ms
          - consensus_timeout_ms
          - fast_attempts
          - attempt_duration
          - catchain_max_deps
          - max_block_bytes
          - max_collated_bytes
          properties:
            flags:
              type: integer
              format: int
              example: 0
            new_catchain_ids:
              type: boolean
              example: true
            round_candidates:
              type: integer
              format: int64
              example: 3
            next_candidate_delay_ms:
              type: integer
              format: int64
              example: 2000
            consensus_timeout_ms:
              type: integer
              format: int64
              example: 16000
            fast_attempts:
              type: integer
              format: int64
              example: 3
            attempt_duration:
              type: integer
              format: int64
              example: 8
            catchain_max_deps:
              type: integer
              format: int64
              example: 4
            max_block_bytes:
              type: integer
              format: int64
              example: 2097152
            max_collated_bytes:
              type: integer
              format: int64
              example: 2097152
            proto_version:
              type: integer
              format: int64
              example: 2
            catchain_max_blocks_coeff:
              type: integer
              format: int64
              example: 10000
        '30':
          type: object
          description: The configuration for the new consensus protocol. Each chain can have its own optional configuration.
          properties:
            mc:
              $ref: '#/components/schemas/NewConsensusConfig'
            shard:
              $ref: '#/components/schemas/NewConsensusConfig'
        '31':
          type: object
          description: The configuration for the consensus protocol above catchain.
          required:
          - fundamental_smc_addr
          properties:
            fundamental_smc_addr:
              type: array
              items:
                type: string
                format: address
                example: -1:dd24c4a1f2b88f8b7053513b5cc6c5a31bc44b2a72dcb4d8c0338af0f0d37ec5
        '32':
          $ref: '#/components/schemas/ValidatorsSet'
        '33':
          $ref: '#/components/schemas/ValidatorsSet'
        '34':
          $ref: '#/components/schemas/ValidatorsSet'
        '35':
          $ref: '#/components/schemas/ValidatorsSet'
        '36':
          $ref: '#/components/schemas/ValidatorsSet'
        '37':
          $ref: '#/components/schemas/ValidatorsSet'
        '40':
          type: object
          description: The configuration for punishment for improper behavior (non-validation). In the absence of the parameter, the default fine size is 101 Gram
          required:
          - misbehaviour_punishment_config
          properties:
            misbehaviour_punishment_config:
              $ref: '#/components/schemas/MisbehaviourPunishmentConfig'
        '43':
          type: object
          description: The size limits and some other characteristics of accounts and messages.
          required:
          - size_limits_config
          properties:
            size_limits_config:
              $ref: '#/components/schemas/SizeLimitsConfig'
        '44':
          type: object
          description: suspended accounts
          required:
          - accounts
          - suspended_until
          properties:
            accounts:
              type: array
              items:
                type: string
                format: address
                example: 0:0000000000000000000000000000000000000000000000000000000000000000
            suspended_until:
              type: integer
        '45':
          type: object
          description: precompiled contracts
          required:
          - contracts
          properties:
            contracts:
              type: array
              items:
                type: object
                required:
                - code_hash
                - gas_usage
                properties:
                  code_hash:
                    type: string
                  gas_usage:
                    type: integer
                    format: int64
        '71':
          type: object
          description: Bridge parameters for wrapping TON in other networks.
          required:
          - oracle_bridge_params
          properties:
            oracle_bridge_params:
              $ref: '#/components/schemas/OracleBridgeParams'
        '72':
          type: object
          description: Bridge parameters for wrapping TON in other networks.
          required:
          - oracle_bridge_params
          properties:
            oracle_bridge_params:
              $ref: '#/components/schemas/OracleBridgeParams'
        '73':
          type: object
          description: Bridge parameters for wrapping TON in other networks.
          required:
          - oracle_bridge_params
          properties:
            oracle_bridge_params:
              $ref: '#/components/schemas/OracleBridgeParams'
        '79':
          type: object
          description: Bridge parameters for wrapping tokens from other networks into tokens on the TON network.
          required:
          - jetton_bridge_params
          properties:
            jetton_bridge_params:
              $ref: '#/components/schemas/JettonBridgeParams'
        '81':
          type: object
          description: Bridge parameters for wrapping tokens from other networks into tokens on the TON network.
          required:
          - jetton_bridge_params
          properties:
            jetton_bridge_params:
              $ref: '#/components/schemas/JettonBridgeParams'
        '82':
          type: object
          description: Bridge parameters for wrapping tokens from other networks into tokens on the TON network.
          required:
          - jetton_bridge_params
          properties:
            jetton_bridge_params:
              $ref: '#/components/schemas/JettonBridgeParams'
    WorkchainDescr:
      type: object
      required:
      - workchain
      - enabled_since
      - actual_min_split
      - min_split
      - max_split
      - basic
      - active
      - accept_msgs
      - flags
      - zerostate_root_hash
      - zerostate_file_hash
      - version
      properties:
        workchain:
          type: integer
          format: int
          example: 0
        enabled_since:
          type: integer
          format: int64
          example: 1000000
        actual_min_split:
          type: integer
          format: int
          example: 1000000
        min_split:
          type: integer
          format: int
          example: 1000000
        max_split:
          type: integer
          format: int
          example: 1000000
        basic:
          type: integer
          example: 1000000
        active:
          type: boolean
          example: true
        accept_msgs:
          type: boolean
          example: true
        flags:
          type: integer
          format: int
          example: 1000000
        zerostate_root_hash:
          type: string
          example: 131D0C65055F04E9C19D687B51BC70F952FD9CA6F02C2801D3B89964A779DF85
        zerostate_file_hash:
          type: string
          example: A6A0BD6608672B11B79538A50B2204E748305C12AA0DED9C16CF0006CE3AF8DB
        version:
          type: integer
          format: int64
          example: 1000000
  responses:
    Error:
      description: Some error during request processing
      content:
        application/json:
          schema:
            type: object
            required:
            - error
            properties:
              error:
                type: string
              error_code:
                type: integer
                format: int64
              details:
                $ref: '#/components/schemas/InsufficientFunds'
  requestBodies:
    ExecGetMethodArgs:
      description: 'Request body for executing a GET method on a blockchain account via POST. This format allows passing arguments in the request body instead of query parameters, which is especially useful for large or complex input data.

        '
      content:
        application/json:
          schema:
            type: object
            required:
            - args
            properties:
              args:
                type: array
                items:
                  $ref: '#/components/schemas/ExecGetMethodArg'
    BatchBoc:
      description: both a single boc and a batch of boc serialized in base64/hex are accepted
      required: true
      content:
        application/json:
          schema:
            type: object
            properties:
              boc:
                type: string
                format: cell
              batch:
                type: array
                maxItems: 5
                items:
                  type: string
                  format: cell
              meta:
                type: object
                additionalProperties:
                  type: string
    AccountIDs:
      description: a list of account ids
      content:
        application/json:
          schema:
            type: object
            required:
            - account_ids
            properties:
              account_ids:
                type: array
                items:
                  type: string
                  format: address
                  example: 0:97264395BD65A255A429B11326C84128B7D70FFED7949ABAE3036D506BA38621
